<!-- busuanzi -->
<script async src="<%- theme.cdn.busuanzi %>"></script>
<span id="busuanzi_container_page_pv">
	<i class="<%- theme.icon.hits %>" aria-hidden="true"></i> 热度 <span id="busuanzi_value_page_pv"></span>
</span>
