<!-- leancloud -->
<span id="<%- url_for(page.path) %>" class="leancloud_visitors" data-flag-title="<%= page.title%>">
    <i class="fab fa-hotjar" aria-hidden="true"></i>
    <i class="leancloud-visitors-count" aria-hidden="true"></i>
</span>
