<div class="social-share" data-image="https://www.livejq.top/img/livejqTop.jpg" data-sites="facebook,twitter,wechat,weibo,qq"></div>
<link rel="stylesheet" href="<%- theme.cdn.share_css %>">
<script src="<%- theme.cdn.share_js %>"></script>
