<div class="layout-page-tags">

	<% if (page.type === "friends") { %>

	<i class="fa fa-pencil-square-o"><%= __('friends') %> <%= __('total') %> <%= site.data.friends.length %>
		<%= __('ge') %></i>

	<% } else { %>
	<% } %>
</div>
